footer#footer.footer
    .footer-brand
        h1 Cliffhanger
    ul.footer-links
        a.footer-link(href="#") About Us
        a.footer-link(href="/") Terms
        a.footer-link(href="/") Privacy
        a.footer-link(href="/") Copyright &copy;
        a.footer-link.wh-background(href="/write") Write for us
    h3.footer-contact Contact me:
        span  conquerorraj2626@gmail.com 
    h4.footer-copyright copyright &copy; 2021
        a www.cliffhanger.com
