extends base

block content 
    section.login
        form.user-form.form-forgetPassword
            h2 Enter the Registered Email to get Recovery Link.
            .form-group.login-group
                label.form-label.form-small(for="email") email
                input#email.form-input(type="email", placeholder="enter your email", required)
            button.btn.btn-send--recovery Send Recovery Link