extends base

block content 

    section.login
        form.user-form.user-resetPassword
            p#token(class="post-Id")= id 
            h2 Reset Password
            .form-group.login-group
                label.form-label.form-small(for="password") New Password
                input#password.form-input(type="password", placeholder="••••••••••", name="password", required)
            .form-group.login-group
                label.form-label.form-small(for="password") Confirm Password
                input#confirmPassword.form-input(type="password", placeholder="••••••••••", name="password", required)
            button.btn Reset Password
            p.user-log-alter
                | Don't have account?
                a(href="./signup.html") Signup
